<ul id="tweets" class="reversed no-bullets">
    @foreach (var tweet in Tweets)
    {
        var isHiddenClass = TweetMatchesFilter(Filter, tweet) ? "" : "is-hidden";
        <li class="@isHiddenClass">
            <TweetComponent Tweet=tweet />
        </li>
    }
</ul>
