<!--  Copyright (c) 2021 David Pine. All rights reserved.
      Licensed under the MIT License.
-->

@using Microsoft.AspNetCore.Components.Web.Virtualization

<ul id="tweets" class="reversed no-bullets">
    <Virtualize Items="_filteredTweets" Context="tweet">
        <ItemContent>
            <li>
                <TweetComponent Tweet=tweet />
            </li>
        </ItemContent>
        <Placeholder>
            @Loading
        </Placeholder>
    </Virtualize>
</ul>
