<!--  Copyright (c) 2021 David Pine. All rights reserved.
      Licensed under the MIT License.
-->

@if (Tweet is not null)
{
    MarkupString markup = new(Tweet.HTML);
    <div>
        @markup
    </div>
}
