<div class="modal @_isActiveClass">
    <div class="modal-background" @onclick="Dismiss"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title is-size-2 ">
                <code>#hashtags</code> and <code>@@handles</code>
            </p>
            <button class="delete" aria-label="close" @onclick="Dismiss"></button>
        </header>

        <section class="modal-card-body">
            <div class="field has-addons my-5">
                <div class="control">
                    <input class="input is-large is-rounded" type="text"
                           @bind-value=_track
                           placeholder="#hashtag or @@handle">
                </div>
                <div class="control">
                    <a class="button is-large is-rounded is-info" @onclick="(() => AddTrack())">
                        <span class="icon">
                            <i class="fas fa-plus"></i>
                        </span>
                        <span>Add</span>
                    </a>
                </div>
            </div>

            <div class="tags are-large mb-5">
                @foreach (var track in Tracks)
                {
                    <span class="tag is-dark is-rounded is-clickable"
                      title="Click to remove @(track)." @onclick="(() => RemoveTrack(track))">
                        @track
                        <button class="delete"></button>
                    </span>
                }
            </div>
        </section>

        <footer class="modal-card-foot">
            <button class="button is-success is-large is-rounded">
                <span class="icon">
                    <i class="fas fa-save"></i>
                </span>
                <span>Save</span>
            </button>
            <button class="button is-large is-rounded is-pulled-right">
                <span class="icon">
                    <i class="fas fa-times"></i>
                </span>
                <span>Cancel</span>
            </button>
        </footer>
    </div>
</div>
