<span class="navbar-item">
    <button class="button is-light level-item">
        <span class="icon">
            <i class="fas fa-language"></i>
        </span>
        <span>Language</span>
    </button>
</span>
