<div class="modal @_isActiveClass">
    <div class="modal-background" @onclick=@Cancel></div>
    <div class="modal-card has-text-left">
        <header class="modal-card-head">
            <p class="modal-card-title ">
                @TitleContent
            </p>
            <button class="delete" aria-label="close" @onclick=@Cancel></button>
        </header>

        <section class="modal-card-body">
            @BodyContent
        </section>

        <footer class="modal-card-foot">
            <div class="is-pulled-right">
                @ButtonContent
            </div>
        </footer>
    </div>
</div>
