@inherits LocalizableComponentBase<NotificationComponent>

<span class="navbar-item">
    <button class="button is-danger is-rounded level-item"
        title=@localize["Notifications"] @onclick=Show>
        <span class="icon">
            <i class="fas fa-bell"></i>
        </span>
   </button>
</span>

<div class="quickview @_showClass">
  <header class="quickview-header">
    <p class="title">
    <span class="icon">
            <i class="fas fa-bullhorn"></i>
        </span>
        <span>Notifications</span></p>
    <span class="delete" @onclick=Dismiss></span>
  </header>

  <div class="quickview-body">
    <div class="quickview-block px-4">
      @if (_notifications is { Count: > 0 })
      {
          foreach (var notification in _notifications.Where(n => !n.IsDismissed))
          {
              <div class="notification">
                  <button class="delete" @onclick=@(_ => DismissNotification(notification))></button>
                  @notification.Text
              </div>
          }
      }
    </div>
  </div>

  <footer class="quickview-footer">

  </footer>
</div>

