<span class="navbar-item">
    <i class="fas fa-3x fa-toggle-@(_toggleClass) is-clickable has-text-dark"
        @onclick=@ToggleTheme></i>
</span>

@code {
    private string _toggleClass => IsLightTheme ? "on" : "off";

    [Parameter]
    public bool IsLightTheme { get; set; } = true;

    private void ToggleTheme() => IsLightTheme = !IsLightTheme;
}
