@inherits LocalizableComponentBase<ThemeToggleComponent>

<span class="navbar-item">
    <button class="button is-@(_buttonClass) has-tooltip-bottom has-tooltip-info is-rounded level-item"
        data-tooltip=@localize[_isDarkTheme ? "DarkTheme" : "LightTheme"]>
        <span class="icon">
            <i class="fas fa-@(_iconClass)"></i>
        </span>
    </button>
</span>
