@inherits LocalizableComponentBase<ThemeToggleComponent>

<span class="navbar-item">
    <button class="button is-@(_buttonClass) is-rounded level-item"
        title=@(Localizer[IsLightTheme ? "Light" : "Dark"]) @onclick=@ToggleTheme>
        <span class="icon">
            <i class="fas fa-@(_iconClass)"></i>
        </span>
    </button>
</span>

@code {
    private string _buttonClass => IsLightTheme ? "dark" : "light";
    private string _iconClass => IsLightTheme ? "moon" : "sun";

    [Parameter]
    public bool IsLightTheme { get; set; } = true;

    private void ToggleTheme() => IsLightTheme = !IsLightTheme;
}
