@inherits LocalizableComponentBase<WeatherComponent>

<div class="columns">
    <div class="column is-half">
        @if (_state is ComponentState.Loaded)
        {
            var weather = _model!;
            <div class="box">
                <article class="media">
                    <div class="media-left">
                        <figure class="image is-128x128">
                            <img src=@(weather.ImagePath) alt="Current weather visual">
                        </figure>
                    </div>
                    <div class="media-content">
                        <div class="content has-text-left">
                            <p>
                                <strong class="block">@weather.Main</strong>
                                <span class="block">@weather.Description</span>
                                <span class="block is-family-code">@weather.Temperature</span>
                            </p>
                        </div>
                    </div>
                </article>
            </div>
        }
        else
        {
            var isLoading = _state is ComponentState.Loading;
            <div class="fa-3x">
                <i class="fas fa-sync fa-spin"></i>
            </div>
        }
    </div>
    <div class="column is-three-quarters"></div>
</div>
