@inherits LocalizableComponentBase<WeatherComponent>

<div class="columns">
    <div class="column is-half">
        @if (_state is ComponentState.Loaded)
        {
            var weather = _model!;
            <div class="box">
                <article class="media">
                    <div class="media-left">
                        <figure class="image is-128x128">
                            <img src=@(weather.ImagePath) alt="Current weather visual">
                        </figure>
                    </div>
                    <div class="media-content">
                        <div class="content has-text-left">
                            <p>
                                <strong>@weather.Main</strong>
                                <br>
                                <span>
                                    @weather.Description
                                </span>
                                @{
                                    FormattableString temp = $"{weather:t}";
                                }
                                <span>temp.ToString(Formmatter)</span>
                            </p>
                        </div>
                    </div>
                </article>
            </div>
        }
        else
        {
            var isLoading = _state is ComponentState.Loading;
            <button class='button is-info @(isLoading ? "is-loading" : "")'
                @onclick=@TryGetClientCoordinates disabled=@isLoading>
                <span class="icon">
                    <i class="fas fa-redo"></i>
                </span>
                <span>Retry</span>
            </button>
        }
    </div>
    <div class="column is-three-quarters"></div>
</div>
