:root {
    --twitter-blue: #6cadde;
    --pwned-blue: rgba(58,154,196,0.5);
    --signalr-blue: #59b4d9;
    --dotnet-purple-primary: #512bd4;
    --dotnet-purple-gradient-9: #7014e8;
    --dotnet-purple-gradient-100: #4931de;
    --dotnet-purple-light: #dfd8f7;
    --dotnet-purple-dark: #2b0b98;
    --dotnet-gray-light: #e5e5e1;
    --dotnet-gray: #969696;
    --dotnet-gray-dark: #505050;
}

.has-dotnet-shadow {
    box-shadow: 0px 1.2rem 2.5rem 2rem rgb(81 43 212 / 30%)
}

.is-top-right-overlay {
    position: absolute;
    top: -1.1rem;
    right: -1.1rem;
}

.is-size-7-rem {
    font-size: 7rem !important;
}

#blazor-error-ui {
    display: none;
}

.blazor-logo {
    max-width: 10rem;
}

html {
    overflow: auto;
}

.blazor-tile-container {
    position:relative;
    width: 100%;
}

.blaze-content {
    padding: 1.25rem 2.5rem 1.25rem 1.5rem;
}

.gradient-bg {
    height: 100%;
    width: 100%;
    position:absolute;
    z-index:-2;
    border-radius: 4px;
}

.weather-gradient {
    background-image: linear-gradient(to bottom, var(--dotnet-purple-primary), var(--dotnet-purple-dark));
}

.jokes-gradient {
    background-image: linear-gradient(to bottom, hsl(204, 86%, 53%), hsl(220, 96%, 45%));
}

.welcome-gradient {
    background-image: linear-gradient(to bottom, hsl(348, 100%, 61%), hsl(360, 100%, 45%));
}

.icon-overlay {
    mix-blend-mode: soft-light;
    background-position: 20px 20px;
    background-size: 35px;
    opacity: .5;
    height: 100%;
    width: 100%;
    z-index:-1;
    position: absolute;
}

.circle-svg {
    background-image: url(../media/circle.svg);
}

.zap-svg {
    background-image: url(../media/zap.svg);
}

.plus-svg {
    background-image: url(../media/plus.svg);
}

.control.is-fullwidth {
    width: 100%;
}

.box.is-alpha-bg-50 {
    background-color: rgba(0,0,0, 0.5);
}

.validation-message {
    align-self: center;
    padding: 1rem;
    color: red;
}

.image {
    object-fit: contain;
}

.is-unselectable {
    cursor: not-allowed;
}

.is-theme-aware {
    color: #b5b5b5 !important;
    background-color: #f5f5f5 !important;
}

@media (prefers-color-scheme: dark) {
    .modal-card-body {
        background-color: #242424;
    }

    .panel-block:not(:last-child) {
        border-bottom-color: #363636;
    }

    .content blockquote {
        color: #fff !important;
    }

    .quickview-header {
        border-bottom: 1px solid #4a4a4a;
    }

    .is-theme-aware {
        color: #4a4a4a !important;
        background-color: #17181c !important;
    }
}

.is-centered {
    margin: 0 auto;
    text-align: center;
}

/*
    See:
      https://jarv.is/notes/css-waving-hand-emoji
*/
.wave {
    animation-name: wave-animation;
    animation-duration: 2.0s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
}

@keyframes wave-animation {
    0% {
        transform: rotate( 0.0deg)
    }

    10% {
        transform: rotate(10.0deg)
    }
    /* The following five values can be played with to make the waving more or less extreme */
    20% {
        transform: rotate(-18.0deg)
    }

    30% {
        transform: rotate(10.0deg)
    }

    40% {
        transform: rotate(-2.0deg)
    }

    50% {
        transform: rotate(10.0deg)
    }

    60% {
        transform: rotate( 0.0deg)
    }
    /* Reset for the last half to pause */
    100% {
        transform: rotate( 0.0deg)
    }
}

.emoji {
    transition: ease-in-out all .5s;
}

    .emoji > span:hover {
        filter: brightness(150%);
    }

.is-flashing {
    animation: flash ease-in-out 1.5s infinite;
}

@keyframes flash {
    0% {
        opacity: 1;
    }

    50% {
        opacity: .2
    }

    100% {
        opacity: 1;
    }
}

.panel {
    max-height: calc(100vh - 20rem);
    overflow-x: auto;
}

.shrugging {
    font-size: 1.5em;
    display: inline-block;
    transition: all 0.5s ease-in-out;
}

    .shrugging:after {
        -webkit-animation: shrug 12s linear infinite;
        -moz-animation: shrug 12s linear infinite;
        -o-animation: shrug 12s linear infinite;
        animation: shrug 12s linear infinite;
        display: inline-block;
        content: "🤷🏿‍♂️";
    }

@-webkit-keyframes shrug {
    0% {
        content: "🤷🏿‍♂️";
    }

    8.33% {
        content: "🤷🏿‍♀️";
    }

    16.67% {
        content: "🤷🏾‍♂️";
    }

    25.00% {
        content: "🤷🏾‍♀️";
    }

    33.33% {
        content: "🤷🏽‍♂️";
    }

    41.67% {
        content: "🤷🏽‍♀️";
    }

    50.00% {
        content: "🤷🏼‍♂️";
    }

    58.33% {
        content: "🤷🏼‍♀️";
    }

    66.67% {
        content: "🤷🏻‍♂️";
    }

    75.00% {
        content: "🤷🏻‍♀️";
    }

    83.33% {
        content: "🤷‍♂️";
    }

    91.67% {
        content: "🤷‍♀️";
    }

    100.00% {
        content: "🤷🏿‍♂️";
    }
}

@-moz-keyframes shrug {
    0% {
        content: "🤷🏿‍♂️";
    }

    8.33% {
        content: "🤷🏿‍♀️";
    }

    16.67% {
        content: "🤷🏾‍♂️";
    }

    25.00% {
        content: "🤷🏾‍♀️";
    }

    33.33% {
        content: "🤷🏽‍♂️";
    }

    41.67% {
        content: "🤷🏽‍♀️";
    }

    50.00% {
        content: "🤷🏼‍♂️";
    }

    58.33% {
        content: "🤷🏼‍♀️";
    }

    66.67% {
        content: "🤷🏻‍♂️";
    }

    75.00% {
        content: "🤷🏻‍♀️";
    }

    83.33% {
        content: "🤷‍♂️";
    }

    91.67% {
        content: "🤷‍♀️";
    }

    100.00% {
        content: "🤷🏿‍♂️";
    }
}

@-o-keyframes shrug {
    0% {
        content: "🤷🏿‍♂️";
    }

    8.33% {
        content: "🤷🏿‍♀️";
    }

    16.67% {
        content: "🤷🏾‍♂️";
    }

    25.00% {
        content: "🤷🏾‍♀️";
    }

    33.33% {
        content: "🤷🏽‍♂️";
    }

    41.67% {
        content: "🤷🏽‍♀️";
    }

    50.00% {
        content: "🤷🏼‍♂️";
    }

    58.33% {
        content: "🤷🏼‍♀️";
    }

    66.67% {
        content: "🤷🏻‍♂️";
    }

    75.00% {
        content: "🤷🏻‍♀️";
    }

    83.33% {
        content: "🤷‍♂️";
    }

    91.67% {
        content: "🤷‍♀️";
    }

    100.00% {
        content: "🤷🏿‍♂️";
    }
}

@keyframes shrug {
    0% {
        content: "🤷🏿‍♂️";
    }

    8.33% {
        content: "🤷🏿‍♀️";
    }

    16.67% {
        content: "🤷🏾‍♂️";
    }

    25.00% {
        content: "🤷🏾‍♀️";
    }

    33.33% {
        content: "🤷🏽‍♂️";
    }

    41.67% {
        content: "🤷🏽‍♀️";
    }

    50.00% {
        content: "🤷🏼‍♂️";
    }

    58.33% {
        content: "🤷🏼‍♀️";
    }

    66.67% {
        content: "🤷🏻‍♂️";
    }

    75.00% {
        content: "🤷🏻‍♀️";
    }

    83.33% {
        content: "🤷‍♂️";
    }

    91.67% {
        content: "🤷‍♀️";
    }

    100.00% {
        content: "🤷🏿‍♂️";
    }
}

.all-devs {
    font-size: 1.5em;
    display: inline-block;
    transition: all 0.5s ease-in-out;
}

    .all-devs:hover {
        transition: all .2s ease-in-out;
        transform: scale(1.5);
    }

    .all-devs:after {
        -webkit-animation: change 12s linear infinite;
        -moz-animation: change 12s linear infinite;
        -o-animation: change 12s linear infinite;
        animation: change 12s linear infinite;
        display: inline-block;
        content: "👨🏿‍💻";
    }

@-webkit-keyframes change {
    0% {
        content: "👨🏿‍💻";
    }

    8.33% {
        content: "👩‍💻";
    }

    16.67% {
        content: "👨‍💻";
    }

    25.00% {
        content: "👩🏻‍💻";
    }

    33.33% {
        content: "👨🏻‍💻";
    }

    41.67% {
        content: "👩🏼‍💻";
    }

    50.00% {
        content: "👨🏼‍💻";
    }

    58.33% {
        content: "👩🏽‍💻";
    }

    66.67% {
        content: "👨🏽‍💻";
    }

    75.00% {
        content: "👩🏾‍💻";
    }

    83.33% {
        content: "👨🏾‍💻";
    }

    91.67% {
        content: "👩🏿‍💻";
    }

    100.00% {
        content: "👨🏿‍💻";
    }
}

@-moz-keyframes change {
    8.33% {
        content: "👩‍💻";
    }

    16.67% {
        content: "👨‍💻";
    }

    25.00% {
        content: "👩🏻‍💻";
    }

    33.33% {
        content: "👨🏻‍💻";
    }

    41.67% {
        content: "👩🏼‍💻";
    }

    50.00% {
        content: "👨🏼‍💻";
    }

    58.33% {
        content: "👩🏽‍💻";
    }

    66.67% {
        content: "👨🏽‍💻";
    }

    75.00% {
        content: "👩🏾‍💻";
    }

    83.33% {
        content: "👨🏾‍💻";
    }

    91.67% {
        content: "👩🏿‍💻";
    }

    100.00% {
        content: "👨🏿‍💻";
    }
}

@-o-keyframes change {
    8.33% {
        content: "👩‍💻";
    }

    16.67% {
        content: "👨‍💻";
    }

    25.00% {
        content: "👩🏻‍💻";
    }

    33.33% {
        content: "👨🏻‍💻";
    }

    41.67% {
        content: "👩🏼‍💻";
    }

    50.00% {
        content: "👨🏼‍💻";
    }

    58.33% {
        content: "👩🏽‍💻";
    }

    66.67% {
        content: "👨🏽‍💻";
    }

    75.00% {
        content: "👩🏾‍💻";
    }

    83.33% {
        content: "👨🏾‍💻";
    }

    91.67% {
        content: "👩🏿‍💻";
    }

    100.00% {
        content: "👨🏿‍💻";
    }
}

@keyframes change {
    8.33% {
        content: "👩‍💻";
    }

    16.67% {
        content: "👨‍💻";
    }

    25.00% {
        content: "👩🏻‍💻";
    }

    33.33% {
        content: "👨🏻‍💻";
    }

    41.67% {
        content: "👩🏼‍💻";
    }

    50.00% {
        content: "👨🏼‍💻";
    }

    58.33% {
        content: "👩🏽‍💻";
    }

    66.67% {
        content: "👨🏽‍💻";
    }

    75.00% {
        content: "👩🏾‍💻";
    }

    83.33% {
        content: "👨🏾‍💻";
    }

    91.67% {
        content: "👩🏿‍💻";
    }

    100.00% {
        content: "👨🏿‍💻";
    }
}
