:root {
    --twitter-blue: #6cadde;
    --pwned-blue: rgba(58,154,196,.5);
    --signalr-blue: #59b4d9;
    --dotnet-purple-primary: #512bd4;
    --dotnet-purple-gradient-9: #7014e8;
    --dotnet-purple-gradient-100: #4931de;
    --dotnet-purple-light: #dfd8f7;
    --dotnet-purple-dark: #2b0b98;
    --dotnet-gray-light: #e5e5e1;
    --dotnet-gray: #969696;
    --dotnet-gray-dark: #505050;
}

#blazor-error-ui {
    display: none;
}

#splash .blazor-logo {
    max-width: 10rem;
}

html {
    overflow: auto;
}

#index {
    /*max-height:*/
}

.is-blazor-bg {
    background-color: var(--dotnet-purple-primary);
    color: #fff;
}

.control.is-fullwidth {
    width: 100%;
}

.validation-message {
    align-self: center;
    padding: 1rem;
    color: red;
}

.image {
    object-fit: contain;
}

    .image.is-dark {
        background-color: #363636;
    }


@media (prefers-color-scheme: dark) {
    .modal-card-body {
        background-color: #242424;
    }

    .panel-block:not(:last-child) {
        border-bottom-color: #363636;
    }

    .content blockquote {
        color: #fff !important;
    }
}

.is-centered {
    margin: 0 auto;
    text-align: center;
}

/*
    See:
      https://jarv.is/notes/css-waving-hand-emoji
*/
.wave {
    animation-name: wave-animation;
    animation-duration: 2.0s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(10.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-18.0deg) }
   30% { transform: rotate(10.0deg) }
   40% { transform: rotate(-2.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}
