<!--  Copyright (c) 2021 David Pine. All rights reserved.
      Licensed under the MIT License.  -->

@page "/authentication/{action}"
@inherits LocalizableComponentBase<Authentication>

<div class="is-size-3">
    <RemoteAuthenticatorView
        Action=@Action
        LogOut=@LocalizedLogOutFragment
        LogOutSucceeded=@LocalizedLoggedOutFragment
        LogInFailed=@LocalizedLogInFailedFragment
        LogOutFailed=@LocalizedLogOutFailedFragment>
        <LoggingIn>
            <LoadingIndicator Message=@localize["CheckingLoginState"] HideLogo="true" />
        </LoggingIn>
        <CompletingLogOut>
            <LoadingIndicator Message=@localize["ProcessingLogoutCallback"] HideLogo="true" />
        </CompletingLogOut>
        <CompletingLoggingIn>
            <LoadingIndicator Message=@localize["CompletingLogin"] HideLogo="true" />
        </CompletingLoggingIn>
    </RemoteAuthenticatorView>
</div>
