<!--  Copyright (c) 2021 David Pine. All rights reserved.
      Licensed under the MIT License.  -->

@page "/"
@inherits LocalizableComponentBase<Index>

<PageTitle>
    @localize["Home"]
</PageTitle>

<AuthorizeView>
    <NotAuthorized>
        <RedirectToLogin />
    </NotAuthorized>
    <Authorized>
        <div id="index" class="tile is-ancestor">
            <div class="tile is-vertical is-centered is-7">
                <div class="tile">
                    <div class="tile is-parent">
                        <article class="blazor-tile-container">
                            <div class="gradient-bg welcome-gradient"></div>
                            <div class="icon-overlay plus-svg"></div>
                            <div class="blaze-content">
                                <p class="title is-family-monospace"><emoji class="wave">🖐🏽</emoji> @localize["Hi"]</p>
                                <IntroductionComponent />
                            </div>
                        </article>
                    </div>
                    <div class="tile is-parent">
                        <article class="blazor-tile-container">
                            <div class="gradient-bg jokes-gradient"></div>
                            <div class="icon-overlay circle-svg"></div>
                            <div class="blaze-content">
                                <p class="title">🤓 @localize["Jokes"]</p>
                                <JokeComponent />
                            </div>
                        </article>
                    </div>
                </div>
                <div class="tile is-parent">
                    <article class="blazor-tile-container">
                        <div class="gradient-bg weather-gradient"></div>
                        <div class="icon-overlay zap-svg"></div>
                        <div class="blaze-content">
                            <p class="title" translate="no">🔥 Blazor-@localize["Weather"]</p>
                            <WeatherComponent />
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </Authorized>
</AuthorizeView>
