<!--  Copyright (c) 2021 David Pine. All rights reserved.
      Licensed under the MIT License.
-->

@inherits LocalizableComponentBase<IntroductionComponent>

<article class="blazor-tile-container">
    <div class="gradient-bg welcome-gradient"></div>
    <div class="icon-overlay heart-svg"></div>
    <div class="blaze-content">
        <p class="title is-family-monospace">
            <span class="wave is-emoji">👋🏽</span>
            <span class="has-text-light">@Localizer["Hi"]</span>
        </p>
        <AdditiveSpeechComponent Message=@_intro.Value />
        <p class="has-text-black is-family-monospace welcome-text is-size-5">
            @_intro
        </p>
    </div>
</article>
