<!--  Copyright (c) 2021 David Pine. All rights reserved.
      Licensed under the MIT License.  -->

@inherits LocalizableComponentBase<IntroductionComponent>

<AdditiveSpeechComponent Message=@_intro?.Value />

<p class="has-text-black is-family-monospace is-size-5">
    @_intro
</p>
