<!--  Copyright (c) 2021 David Pine. All rights reserved.
      Licensed under the MIT License.
-->

<div class="modal has-text-left @_isActiveClass">
    <div class="modal-background" @onclick=@CancelAsync></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">
                @TitleContent
            </p>
            <button class="delete" aria-label="close" @onclick=@CancelAsync></button>
        </header>

        <section class="modal-card-body">
            @BodyContent
        </section>

        <footer class="modal-card-foot is-justify-content-flex-end">
            <div>
                @ButtonContent
            </div>
        </footer>
    </div>
</div>
