<!--  Copyright (c) 2021 David Pine. All rights reserved.
      Licensed under the MIT License.
-->

@inherits LocalizableComponentBase<ThemeToggleComponent>

<span class="navbar-item">
    <button class="button is-@(_buttonClass) is-default-pointer is-rounded level-item has-tooltip-left has-tooltip-info"
        data-tooltip=@Localizer[AppState.IsDarkTheme ? "DarkTheme" : "LightTheme"]>
        <span class="icon">
            <i class="fas fa-@(_iconClass)"></i>
        </span>
    </button>
</span>

<HeadContent>
    <meta name="twitter:widgets:theme"
          content='@(AppState.IsDarkTheme ? "dark" : "light")'>
</HeadContent>
