<!--  Copyright (c) 2021 David Pine. All rights reserved.
      Licensed under the MIT License.  -->

@inherits LocalizableComponentBase<WeatherComponent>

<article class="blazor-tile-container">
    <div class="gradient-bg weather-gradient"></div>
    <div class="icon-overlay zap-svg"></div>
    <div class="blaze-content">
        <p class="title" translate="no">
            <span class="is-emoji">🔥</span> <span class="has-text-light"> Blazor-@Localizer["Weather"]</span>
        </p>
        <AdditiveSpeechComponent Message=@_model?.Message />
        <div class="columns has-text-centered">
            @switch (_state)
            {
                case ComponentState.Loaded:

                var weather = _model!;
                <div class="column is-one-third">
                    <WeatherCurrentComponent Weather=weather
                        Localizer=Localizer />
                </div>
                <div class="column">
                    <div class="level">
                        @foreach (DailyWeather daily in weather.DailyWeather)
                        {
                            <WeatherDailyComponent Daily="daily"
                                GetDailyImagePath=@((DailyWeather d) => weather.GetDailyImagePath(d))
                                GetDailyHigh=@((DailyWeather d) => weather.GetDailyHigh(d))
                                GetDailyLow=@((DailyWeather d) => weather.GetDailyLow(d)) />
                        }
                    </div>
                </div>

                break;
                case ComponentState.Loading:
                
                <div class="column is-full">
                    <SpinnerComponent />
                </div>

                break;
                default:

                <div class="column is-full">
                    @Localizer["WeatherUnavailable"]
                </div>
                break;
            }
        </div>
    </div>
</article>
