<!--  Copyright (c) 2021 David Pine. All rights reserved.
      Licensed under the MIT License.
-->

<div class="level-item has-text-centered has-text-light">
    <div>
        <p class="heading is-size-5 is-underlined">
            @Daily.DateTime.ToString("ddd")
        </p>
        <p class="title">
            <figure class="image is-96x96">
                <img src=@GetDailyImagePath?.Invoke(Daily)
                    class="has-img-shadow"
                    alt="@Daily.Weather[0].Description">
            </figure>
        </p>
        <p class="heading is-size-7">@Daily.Weather[0].Main</p>
        <p class="heading is-size-7 has-text-weight-bold">
            <i class="fas fa-arrow-up"></i>
            @GetDailyHigh?.Invoke(Daily)
        </p>
        <p class="heading is-size-7 has-text-weight-bold">
            <i class="fas fa-arrow-down"></i>
            @GetDailyLow?.Invoke(Daily)
        </p>
    </div>
</div>

@code {
[Parameter] public DailyWeather Daily { get; set; } = null!;
[Parameter] public Func<DailyWeather, string>? GetDailyImagePath { get; set; }
[Parameter] public Func<DailyWeather, string>? GetDailyHigh { get; set; }
[Parameter] public Func<DailyWeather, string>? GetDailyLow { get; set; }
}
