@inherits LayoutComponentBase

<div class="relative mb-2">
    <div class="flex justify-between absolute inset-x-0 top-0">
        <NavMenu />
        <div class="mt-6 ml-8 mr-6">
            <LoginDisplay />
            <a class="nav-links" href="http://blazor.net" target="_blank">Learn about Blazor</a>
        </div>
    </div>
    <svg viewBox="0 0 1440 375" xmlns="http://www.w3.org/2000/svg"><defs><linearGradient id="gradient"><stop offset="5%" stop-color="#9900ef88"></stop><stop offset="95%" stop-color="#9900ef88"></stop></linearGradient></defs><path d="M 0,500 C 0,500 0,166 0,166 C 168,182.53333333333333 336,199.06666666666666 477,209 C 618,218.93333333333334 732,222.2666666666667 888,214 C 1044,205.7333333333333 1242,185.86666666666665 1440,166 C 1440,166 1440,500 1440,500 Z" stroke="none" stroke-width="0" fill="url(#gradient)" class="transition-all duration-300 ease-in-out delay-150" transform="rotate(-180 720 250)"></path><defs><linearGradient id="gradient"><stop offset="5%" stop-color="#9900efff"></stop><stop offset="95%" stop-color="#9900efff"></stop></linearGradient></defs><path d="M 0,500 C 0,500 0,333 0,333 C 165.2,350.8666666666667 330.4,368.7333333333333 497,362 C 663.6,355.2666666666667 831.5999999999999,323.93333333333334 989,315 C 1146.4,306.06666666666666 1293.2,319.5333333333333 1440,333 C 1440,333 1440,500 1440,500 Z" stroke="none" stroke-width="0" fill="url(#gradient)" class="transition-all duration-300 ease-in-out delay-150" transform="rotate(-180 720 250)"></path></svg>
    <span class="text-white font-bold inset-x-0 text-center absolute top-40 text-5xl text-shadow-xl">Blazor + <span class="text-cyan-500 bg-white p-2 rounded text-shadow-none">Tailwind</span></span>
</div>

<div class="px-8 container mx-auto">
    @Body
</div>
