@inherits LayoutComponentBase

<section class="hero is-fullheight">
  <div class="hero-head">
    <header class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item">
            <img src="https://bulma.io/images/bulma-type-white.png" alt="Logo">
          </a>
        </div>
        <div class="navbar-menu">
          <div class="navbar-end">
            <NavMenu />
            <LoginDisplay />
          </div>
        </div>
      </div>
    </header>
  </div>

  <div class="hero-body">
    <div class="container has-text-centered">
      @Body
    </div>
  </div>

</section>
