<ul class="flex justify-between mt-6 ml-8 text-white uppercase tracking-wider">
    <li>
        <NavLink class="mr-6 pb-2 border-b-4 border-purple-700 hover:border-green-400" href="" Match="NavLinkMatch.All">
            Home
        </NavLink>
    </li>
    <li>
        <NavLink class="mr-6 pb-2 border-b-4 border-purple-700 hover:border-green-400" href="counter">
            Counter
        </NavLink>
    </li>
    <li>
        <NavLink class="mr-6 pb-2 border-b-4 border-purple-700 hover:border-green-400" href="fetchdata">
            Fetch data
        </NavLink>
    </li>
</ul>
