@page "/authentication/{action}"
@inherits LocalizableComponentBase<Authentication>

<div class="is-size-3">
    <RemoteAuthenticatorView
        Action=@Action
        LoggingIn=@LocalizedLoginFragement
        LogOut=@LocalizedLogOutFragment
        LogOutSucceeded=@LocalizedLoggedOutFragment
        CompletingLogOut=@LocalizedLogOutCallbackFragment
        CompletingLoggingIn=@LocalizedLogInCallbackFragment
        LogInFailed=@LocalizedLogInFailedFragment
        LogOutFailed=@LocalizedLogOutFailedFragment />
</div>
