@page "/authentication/{action}"
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

<div class="is-size-4">
    <RemoteAuthenticatorView Action="@Action" />
</div>

@code{
    [Parameter] public string? Action { get; set; } = null!;
}
