  
@page "/counter"

<h1 class="text-4xl font-bold mb-4">Counter</h1>

<input type="number" @bind-value="_incrementAmount" />

<p>Current count: @_currentCount</p>

<button class="green-button" @onclick="IncrementCount">
    Increment
</button>

@code {
    private int _currentCount = 0;
    private int _incrementAmount = 1;

    private void IncrementCount()
    {
        _currentCount = _currentCount + _incrementAmount;
    }
}
