  
@page "/counter"

<h1 class="text-4xl font-bold mb-4">Counter</h1>

<p>Current count: @currentCount</p>

<button class="mt-4 bg-gradient-to-br from-green-600 to-green-500 hover:from-green-500 hover:to-green-600 text-white p-2 rounded border border-green-600" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
