@page "/fetchdata"
@inject HttpClient Http

<h1 class="text-4xl font-bold mb-4">Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table-auto w-3/5 mt-4 mx-auto">
        <thead>
            <tr>
                <th class="tableheader">Date</th>
                <th class="tableheader">Temp. (C)</th>
                <th class="tableheader">Temp. (F)</th>
                <th class="tableheader">Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr class="hover:bg-green-100 odd:bg-purple-50">
                    <td class="p-2">@forecast.Date.ToShortDateString()</td>
                    <td class="p-2">@forecast.TemperatureC</td>
                    <td class="p-2">@forecast.TemperatureF</td>
                    <td class="p-2">@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private WeatherForecast[] forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await Http.GetFromJsonAsync<WeatherForecast[]>("sample-data/weather.json");
    }

    public class WeatherForecast
    {
        public DateTime Date { get; set; }

        public int TemperatureC { get; set; }

        public string Summary { get; set; }

        public int TemperatureF => 32 + (int)(TemperatureC / 0.5556);
    }
}
