@inherits LocalizableComponentBase<NotFoundPage>

<div class="container is-fluid">
    <h1 class="is-size-2">@localize["NotFound"]</h1>
    <p class="lead">@localize["NotSureWhatYouAreLookingFor"]</p>
    <button class="button is-rounded is-large" @onclick="GoHome">
        <span class="icon">
            <i class="fas fa-home" aria-hidden="true"></i>
        </span>
        <span>
            @localize["Home"]
        </span>
    </button>
</div>

@code {
    void GoHome() => Navigation.NavigateTo("/");
}
