<div class="field is-horizontal">
    <div class="field-label @LabelSpecifierClass">
        <label class="label">
            @FieldLabelContent
        </label>
    </div>
    <div class="field-body">
        <div class="field @ControlSpecifierClass">
            <p class="control @ControlClasses.ToSpaceDelimitedString()">
                @FieldControlContent
            </p>
        </div>
    </div>
</div>

@code {
[Parameter]
public string? LabelSpecifierClass { get; set; } = "is-normal";

[Parameter]
public string? ControlSpecifierClass { get; set; }

[Parameter]
public RenderFragment? FieldLabelContent { get; set; }

[Parameter, EditorRequired]
public RenderFragment? FieldControlContent { get; set; }

[Parameter]
public string[]? ControlClasses { get; set; } = new string[] { "is-expanded", "has-icons-left" };
}
