name: Deploy Weather Function

on:
  push:
    branches:
    - v1.0
  workflow_dispatch:
    inputs:
      reason:
        description: 'The reason for running the workflow'
        required: true
        default: 'Manual "Deploy Weather Function" run'

env:
  AZURE_FUNCTIONAPP_NAME: learning-blazor-functions
  AZURE_FUNCTIONAPP_PACKAGE_PATH: src/Web.Functions/published
  CONFIGURATION: Release
  WORKING_DIRECTORY: src/Web.Functions

jobs:
  deploy-azure-function:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@main

    - name: 'Print manual run reason'
      if: ${{ github.event_name == 'workflow_dispatch' }}
      run: |
        echo 'Reason: ${{ github.event.inputs.reason }}'

    - name: Setup .NET
      uses: actions/setup-dotnet@main
      with:
        dotnet-version: 8.0.x

    - name: Restore
      run: dotnet restore "${{ env.WORKING_DIRECTORY }}"

    - name: Build
      run: dotnet build "${{ env.WORKING_DIRECTORY }}" --configuration ${{ env.CONFIGURATION }} --no-restore

    - name: Publish
      run: dotnet publish "${{ env.WORKING_DIRECTORY }}" --configuration ${{ env.CONFIGURATION }} --no-build --output "${{ env.AZURE_FUNCTIONAPP_PACKAGE_PATH }}"

    - name: Deploy to Azure Function App
      uses: Azure/functions-action@v1
      with:
        app-name: ${{ env.AZURE_FUNCTIONAPP_NAME }}
        publish-profile: ${{ secrets.LEARNING_BLAZOR_FUNCTIONS_FFFF }}
        package: ${{ env.AZURE_FUNCTIONAPP_PACKAGE_PATH }}
