<!--  Copyright (c) 2021 David Pine. All rights reserved.
      Licensed under the MIT License.
-->

@inherits LocalizableComponentBase<LoadingIndicator>

@if (!HideLogo)
{
	<img src="media/blazor-logo.png" class="image is-128x128 mb-5" />
}
<div class="is-family-code @(_class)">
	<span class="is-size-3">@Message</span> <i class="fas fa-cog fa-spin"></i>
</div>

@code {
    string? _message;
    string _class => AppState.IsDarkTheme ? "has-text-white" : "has-text-black";

    [Parameter] public string? Message
    {
        get => _message ?? Localizer["Loading"];
        set => _message = value;
    }
    [Parameter] public bool HideLogo { get; set; }
}
