<!--  Copyright (c) 2021 David Pine. All rights reserved.
      Licensed under the MIT License.
-->

@inherits LocalizableComponentBase<NavBar>

<NavLink class="navbar-item" href="/chat" Match="NavLinkMatch.Prefix">
    <span class="icon pr-2">
        <i class="chat fas fa-comments"></i>
    </span>
    <span>@Localizer["Chat"]</span>
</NavLink>
<NavLink class="navbar-item" href="/tweets" Match="NavLinkMatch.Prefix">
    <span class="icon pr-2">
        <i class="twitter fab fa-twitter"></i>
    </span>
    <span>@Localizer["Tweets"]</span>
</NavLink>
<NavLink class="navbar-item" href="/pwned" Match="NavLinkMatch.Prefix">
    <span class="icon pr-2">
        <i class="pwned fas fa-user-shield"></i>
    </span>
    <span translate="no">Pwned?!</span>
</NavLink>
<NavLink class="navbar-item" href="/contact" Match="NavLinkMatch.Prefix">
    <span class="icon pr-2">
        <i class="pwned fas fa-envelope"></i>
    </span>
    <span>@Localizer["Contact"]</span>
</NavLink>
